.testimonials {
  background-color: $white;
  text-align: center;
  padding: 4rem 2.5rem;

  @media (min-width: $tablet-02) {
    padding: 8rem 6rem;
    &-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
      max-width: 1300px;
      margin: 0 auto;
    }
  }
  h4 {
    font-size: 1rem;
    color: $grayish-blue;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .testimonial {
    margin: 4.5rem 0 0;
    line-height: 1.6;

    &__photo {
      width: 4rem;
      border-radius: 50%;
      margin-bottom: 1.6rem;
    }

    &__name {
      font-size: 1.1rem;
      font-weight: 900;
      margin-bottom: 0.3rem;
    }

    &__title {
      font-size: 0.9rem;
      color: $grayish-blue;
    }

    &__text {
      font-size: 1.1rem;
      color: $dark-grayish-blue-02;
      margin-bottom: 2rem;

      @media (min-width: $tablet-02) {
        margin-bottom: 3rem;
      }
    }
  }
}
