@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow";
}

h1,
h2,
h3,
h4,
h5,
.btn,
.service__link {
  font-family: "Fraunces";
}

/* ===== HEADER START ===== */

header {
  height: min-content;
  width: 100%;
  position: relative;

  .header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
  }

  .header__bkg {
    width: 100%;

    img {
      width: 100%;
      max-width: 400;
      height: auto;
    }
  }

  .header-nav {
    display: flex;
    padding: 0.75rem 0;
    justify-content: space-between;

    .logo img {
      filter: invert(100%);
    }

    // MOBILE MENU

    .mobile-menu {
      margin: 2rem;
      position: absolute;
      top: 5.5rem;
      left: 0;
      right: 0;
      z-index: 1000;
      display: none;

      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 30px solid $white;
        border-left: 30px solid transparent;
        position: absolute;
        right: 0;
        top: -30px;
      }

      ul {
        background-color: $white;
        padding: 2.5rem 3rem 3rem;
        width: 100%;
        text-align: center;

        li {
          list-style: none;
          font-size: 1.4rem;

          &:last-child {
            margin-top: 1.5rem;
          }

          a {
            display: inline-block;
            padding: 1.2rem;
            text-decoration: none;
            color: $dark-grayish-blue-02;
            transition: all 0.2s ease-in-out;

            &:hover {
              cursor: pointer;
              color: $dark-grayish-blue-01;
            }

            &.btn {
              background-color: $yellow;
              padding: 1.25rem 2rem;
              color: $dark-desaturated-blue;
              border-radius: 2rem;
              text-transform: uppercase;
              font-size: 1.2rem;

              &:hover {
                background-color: rgba($yellow, 0.7);
              }
            }
          }
        }
      }
    }
  }

  .hero-text {
    color: $white;
    text-align: center;
    padding: 0 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    h1 {
      text-transform: uppercase;
      letter-spacing: 8px;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }
}
/* ===== HEADER END ===== */

/* ===== SERVICES START ===== */

.services {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  .service {
    text-align: center;
    img {
      width: 100%;
      height: auto;
      display: flex;
    }

    &__text {
      padding: 3.5rem 3rem;

      h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
      p {
        line-height: 1.6;
        font-size: 1.1rem;
        color: $dark-grayish-blue-02;
        margin-bottom: 2rem;
      }
    }

    &__link {
      padding: 0.5rem;
      text-transform: uppercase;
      text-decoration: none;
      color: $dark-desaturated-blue;
      position: relative;
      letter-spacing: 1px;

      &::after {
        content: "";
        display: block;
        height: 10px;
        width: 100%;
        border-radius: 20px;
        background-color: rgba($yellow, 0.4);
        position: absolute;
        top: 21px;
        left: 0;
        z-index: -1;
      }

      &:hover::after {
        background-color: rgba($yellow, 1);
      }

      &--red::after {
        background-color: rgba($soft-red, 0.4);
      }

      &--red:hover::after {
        background-color: rgba($soft-red, 1);
      }
    }

    &__skill {
      position: relative;
      width: 100%;
    }
    .skill-text {
      position: absolute;
      bottom: 8%;
      margin: 2rem;
      color: $dark-desaturated-cyan;
      line-height: 1.6;

      h3 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.1rem;
      }

      &__graphic-design {
        color: $dark-desaturated-cyan;
      }

      &__photography {
        color: $dark-blue;
      }
    }
  }
}

/* ===== SERVICES END ===== */

/* ===== TESTIMONIALS START ===== */

.testimonials {
  background-color: $white;
  text-align: center;
  padding: 4rem 2.5rem;

  h4 {
    font-size: 1rem;
    color: $grayish-blue;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .testimonial {
    margin: 4.5rem 0;
    line-height: 1.6;

    &__photo {
      width: 4rem;
      border-radius: 50%;
      margin-bottom: 1.6rem;
    }

    &__name {
      font-size: 1.1rem;
      font-weight: 900;
      margin-bottom: 0.3rem;
    }

    &__title {
      font-size: 0.9rem;
      color: $grayish-blue;
    }

    &__text {
      font-size: 1.1rem;
      color: $dark-grayish-blue-02;
      margin-bottom: 2rem;
    }
  }
}
/* ===== TESTIMONIALS END ===== */

/* ===== PROJECTS START ===== */

.projects {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);

  .photo {
    width: 100%;
  }
}
/* ===== PROJECTS END ===== */

/* ===== FOOTER START ===== */

footer {
  background-color: #90d4c5;
  text-align: center;
  padding: 4rem 2rem 0.5rem;

  .footer-logo {
    filter: invert(25%) sepia(63%) saturate(340%) hue-rotate(116deg)
      brightness(98%) contrast(92%);
    width: 180px;
  }

  nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 2rem;
    margin-bottom: 3rem;

    li a {
      color: $dark-moderate-cyan;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }
  }

  .social-media {
    a {
      padding: 10px;

      &:hover img {
        filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
      }
    }
  }

  .attribution {
    display: block;
    padding: 20px;
    font-size: 0.6rem;
  }

  .attribution,
  .attribution a {
    color: $dark-desaturated-cyan;
  }
}

/* ===== FOOTER END ===== */
