@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow";
}

h1,
h2,
h3,
h4,
.btn,
.service__link {
  font-family: "Fraunces";
}

/* ===== HEADER START ===== */

header {
  height: min-content;
  width: 100%;
  position: relative;

  .header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
  }

  .header__bkg {
    width: 100%;

    img {
      width: 100%;
      max-width: 400;
      height: auto;
    }
  }

  .header-nav {
    display: flex;
    padding: 0.75rem 0;
    justify-content: space-between;

    // MOBILE MENU

    .mobile-menu {
      background-color: red;
      margin: 2rem;
      position: absolute;
      top: 5.5rem;
      left: 0;
      right: 0;
      z-index: 1000;
      display: none;

      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 30px solid $white;
        border-left: 30px solid transparent;
        position: absolute;
        right: 0;
        top: -30px;
      }

      ul {
        background-color: $white;
        padding: 2.5rem 3rem 3rem;
        width: 100%;
        text-align: center;

        li {
          list-style: none;
          font-size: 1.4rem;

          &:last-child {
            margin-top: 1.5rem;
          }

          a {
            display: inline-block;
            padding: 1.2rem;
            text-decoration: none;
            color: $dark-grayish-blue-02;
            transition: all 0.2s ease-in-out;

            &:hover {
              cursor: pointer;
              color: $dark-grayish-blue-01;
            }

            &.btn {
              background-color: $yellow;
              padding: 1.25rem 2rem;
              color: $dark-desaturated-blue;
              border-radius: 2rem;
              text-transform: uppercase;
              font-size: 1.2rem;

              &:hover {
                background-color: rgba($yellow, 0.7);
              }
            }
          }
        }
      }
    }
  }

  .hero-text {
    color: $white;
    text-align: center;
    padding: 0 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    h1 {
      text-transform: uppercase;
      letter-spacing: 8px;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }
}
/* ===== HEADER END ===== */

/* ===== SERVICES START ===== */

.services {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  .service {
    img {
      width: 100%;
      height: auto;
    }

    &__text {
      padding: 3.5rem 3rem;
      text-align: center;

      h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
      p {
        line-height: 1.6;
        font-size: 1.1rem;
        color: $dark-grayish-blue-02;
        margin-bottom: 2rem;
      }
    }

    &__link {
      padding: 0.5rem;
      text-transform: uppercase;
      text-decoration: none;
      color: $dark-desaturated-blue;
      position: relative;
      letter-spacing: 1px;

      &::after {
        content: "";
        display: block;
        height: 10px;
        width: 100%;
        border-radius: 20px;
        background-color: rgba($yellow, 0.4);
        position: absolute;
        top: 21px;
        left: 0;
        z-index: -1;
      }

      &:hover::after {
        background-color: rgba($yellow, 1);
      }

      &--red::after {
        background-color: rgba($soft-red, 0.4);
      }

      &--red:hover::after {
        background-color: rgba($soft-red, 1);
      }
    }
  }
}
/* ===== SERVICES END ===== */
