header {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  position: relative;
}

header .header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
}

header .header__bkg {
  width: 100%;
}

header .header__bkg--mobile, header .header__bkg--desktop {
  width: 100%;
  max-width: 400;
  height: auto;
}

header .header__bkg--desktop {
  display: none;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.75rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav .logo img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

header .nav .menu {
  margin: 2rem;
  position: absolute;
  top: 5.5rem;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

header .nav .menu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-bottom: 30px solid white;
  border-left: 30px solid transparent;
  position: absolute;
  right: 0;
  top: -30px;
}

header .nav .menu ul {
  background-color: white;
  padding: 2.5rem 3rem 3rem;
  width: 100%;
  text-align: center;
}

header .nav .menu ul li {
  list-style: none;
  font-size: 1.4rem;
}

header .nav .menu ul li:last-child {
  margin-top: 1.5rem;
}

header .nav .menu ul li a {
  display: inline-block;
  padding: 1.2rem;
  text-decoration: none;
  color: #818498;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .nav .menu ul li a:hover {
  cursor: pointer;
  color: #5a636c;
}

header .nav .menu ul li a.btn {
  background-color: #fad400;
  padding: 1.25rem 2rem;
  color: #23303e;
  border-radius: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

header .nav .menu ul li a.btn:hover {
  background-color: rgba(250, 212, 0, 0.7);
}

@media (min-width: 768px) {
  header .nav .logo img {
    width: 150px;
  }
  header .nav .mobile-menu-btn {
    display: none;
  }
  header .nav .menu {
    display: block;
    margin: 0;
    position: relative;
    top: unset;
    left: unset;
  }
  header .nav .menu::before {
    display: none;
  }
  header .nav .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    padding: 0;
  }
  header .nav .menu ul li {
    font-size: 1.1rem;
  }
  header .nav .menu ul li a {
    color: white;
    padding: 1.2rem 1.5rem;
  }
  header .nav .menu ul li a.btn {
    background-color: white;
    margin-left: 1rem;
    font-size: 1rem;
  }
  header .nav .menu ul li a.btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
  }
  header .nav .menu ul li:last-child {
    margin-top: 0;
  }
}

header .hero-text {
  color: white;
  text-align: center;
  padding: 0 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .hero-text h1 {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 3rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  header .header-container {
    padding: 2rem 3rem;
  }
  header .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header__bkg--mobile {
    display: none;
  }
  header .header__bkg--desktop {
    display: block;
  }
  header .hero-text {
    top: 60%;
  }
}

@media (min-width: 900px) {
  header .hero-text {
    width: 100%;
    top: 360px;
  }
  header .hero-text h1 {
    margin-bottom: 5%;
  }
}

@media (min-width: 900px) {
  .services {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

.services .service {
  display: block;
}

@media (min-width: 900px) {
  .services .service {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50vw)[2];
        grid-template-columns: repeat(2, 50vw);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    place-self: center stretch;
  }
  .services .service:first-child {
    -ms-grid-row: 1;
    grid-row: 1 / 1;
  }
  .services .service:first-child .service__image {
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
  }
  .services .service:first-child .service__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.services .service__image--mobile {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 900px) {
  .services .service__image--mobile {
    display: none;
  }
}

.services .service__image--desktop {
  width: 100%;
  height: auto;
  display: none;
}

@media (min-width: 900px) {
  .services .service__image--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.services .service__text {
  text-align: center;
  padding: 10%;
}

.services .service__text h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.services .service__text p {
  line-height: 1.7;
  font-size: 1.2rem;
  color: #818498;
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  .services .service__text {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .services .service__text {
    text-align: left;
    padding: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .services .service__text h2 {
    font-size: 3vw;
  }
  .services .service__text p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

@media (min-width: 900px) {
  .services .service__text {
    padding: 12%;
  }
  .services .service__text h2 {
    font-size: 3vw;
  }
  .services .service__text p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}

@media (min-width: 1500px) {
  .services .service__text h2 {
    font-size: 3rem;
  }
  .services .service__text p {
    font-size: 1.3rem;
    line-height: 1.7;
  }
}

.services .service__link {
  padding: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #23303e;
  position: relative;
  letter-spacing: 1px;
}

.services .service__link::after {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(250, 212, 0, 0.4);
  position: absolute;
  top: 21px;
  left: 0;
  z-index: -1;
}

.services .service__link:hover::after {
  background-color: #fad400;
}

.services .service__link--red::after {
  background-color: rgba(254, 120, 103, 0.4);
}

.services .service__link--red:hover::after {
  background-color: #fe7867;
}

@media (min-width: 900px) {
  .skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50vw)[2];
        grid-template-columns: repeat(2, 50vw);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.skills .skill {
  position: relative;
}

.skills .skill__text {
  position: absolute;
  bottom: 12%;
  left: 12%;
  right: 12%;
  color: #25564b;
  line-height: 1.6;
  text-align: center;
}

.skills .skill__text h3 {
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
}

.skills .skill__text p {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .skills .skill__text {
    bottom: 10%;
    left: 15%;
    right: 15%;
    line-height: 1.4;
  }
}

@media (min-width: 900px) {
  .skills .skill__text h3 {
    font-size: 2rem;
  }
  .skills .skill__text p {
    font-size: 1rem;
  }
}

@media (min-width: 1350px) {
  .skills .skill__text {
    bottom: 12%;
    max-width: 450px;
    margin: 0 auto;
  }
  .skills .skill__text h3 {
    font-size: 2.3rem;
  }
  .skills .skill__text p {
    font-size: 1.2rem;
  }
}

.skills .skill.graphic-design {
  color: #25564b;
}

.skills .skill.photography {
  color: #19536b;
}

.skills .gd-mobile,
.skills .p-mobile {
  width: 100%;
}

@media (min-width: 900px) {
  .skills .gd-mobile,
  .skills .p-mobile {
    display: none;
  }
}

.skills .gd-desktop,
.skills .p-desktop {
  display: none;
  width: 100%;
}

@media (min-width: 900px) {
  .skills .gd-desktop,
  .skills .p-desktop {
    display: block;
    width: 50vw;
    height: 100%;
  }
}

.testimonials {
  background-color: white;
  text-align: center;
  padding: 4rem 2.5rem;
}

@media (min-width: 900px) {
  .testimonials {
    padding: 8rem 6rem;
  }
  .testimonials-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    max-width: 1300px;
    margin: 0 auto;
  }
}

.testimonials h4 {
  font-size: 1rem;
  color: #a7abae;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.testimonials .testimonial {
  margin: 4.5rem 0 0;
  line-height: 1.6;
}

.testimonials .testimonial__photo {
  width: 4rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.testimonials .testimonial__name {
  font-size: 1.1rem;
  font-weight: 900;
  margin-bottom: 0.3rem;
}

.testimonials .testimonial__title {
  font-size: 0.9rem;
  color: #a7abae;
}

.testimonials .testimonial__text {
  font-size: 1.1rem;
  color: #818498;
  margin-bottom: 2rem;
}

@media (min-width: 900px) {
  .testimonials .testimonial__text {
    margin-bottom: 3rem;
  }
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

@media (min-width: 900px) {
  .projects {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.projects .photo {
  width: 100%;
}

footer {
  background-color: #90d4c5;
  text-align: center;
  padding: 4rem 2rem 0.5rem;
}

footer .footer-logo {
  -webkit-filter: invert(25%) sepia(63%) saturate(340%) hue-rotate(116deg) brightness(98%) contrast(92%);
          filter: invert(25%) sepia(63%) saturate(340%) hue-rotate(116deg) brightness(98%) contrast(92%);
  width: 180px;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  footer nav ul {
    margin: 0 auto 3rem;
    max-width: 400px;
  }
}

footer nav ul li a {
  color: #458c7e;
  text-decoration: none;
}

footer nav ul li a:hover {
  color: white;
}

footer .social-media a {
  padding: 10px;
}

footer .social-media a:hover img {
  -webkit-filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
          filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
}

footer .attribution {
  display: block;
  padding: 20px;
  font-size: 0.6rem;
}

footer .attribution,
footer .attribution a {
  color: #25564b;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Barlow";
}

h1,
h2,
h3,
h4,
h5,
.btn,
.service__link {
  font-family: "Fraunces";
}
/*# sourceMappingURL=styles.css.map */